#content {
  margin: 0 auto;
  width: 900px;
}

#byline {
font-family: Helvetica, sans-serif;
font-size: 14px;
font-style: italic;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 36px;
}

p {
  font-family: Georgia, serif;
  font-size: 13px;
}

#smoothie-cap {
  font-size: .6em;
}

#plates {
  font-size: .8em;
}

blockquote {
  font-size: 2em;
  color: blue;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  background-color: #8ca1a1;
}
