.banner {
  width:100%;
}

body {
  background-color: #bfcbcc;
}

.list-group-item {
  background-color: #bfcbcc;
  color: #11ac5e;
  font-family: "helvetica", sans-serif;
  padding:20px;
}

.about {
  font-family: "helvetica", sans-serif;
  margin-bottom: 50px;
  margin-top: 25px;
  text-align: center;
  font-size: 20px;
  font-weight: 1.5em;
  color: #11ac5e;
  width: 100%;
  border-bottom: 1px solid #11ac5e;

}

.list-group {
  font-size: 20px;
  text-align: center;
}

.school-logo {
  width: 130px;
  height:125px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.maryland li {
  display: inline;
}

.section-header {
  font-size: 3em;
  text-align: center;
  border-bottom: 1px solid #11ac5e;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: "Helvetica", sans-serif;
  color: #11ac5e;
}

.school-name {
    font-family: "Helvetica", sans-serif;
    text-align: center;
    font-size: 20px;
    color: #11ac5e;
    margin-bottom: 25px;
    margin-top: 25px;
}

#skill-list {
  color: #11ac5e;
  font-size: 20px;
}

.education {
  margin-bottom: 30px;
}

.skills {
  text-align: center;
}

.description {
  font-size: 1em;
}

.carousel-slide {
  margin-top:0;
}
