.hero-container {
  position: relative;
  text-align: center;
  color: white;
}

/*--Topper--*/
.hero-image {
  width: 100%;
}

.overlay {
  position: absolute;
  top: 35%;
  width: 100%;
  background-color: red;
  opacity: .6;
}

.hero-head {
  font-family: "Montserrat", sans-serif;
  font-size: 6em;
  color: white;
  margin: 0 auto;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.hero-sub {
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
}

/*--body--*/
.headline {
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  font-family:'Montserrat', sans-serif;
  color: red;
}

.pic-caption {
  font-size: .75em;
}

p {
  font-size: .94em;
  font-family: "Montserrat," sans-serif;
}

.footer{
  background-color: black;
  color: white;
}

.byline {
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
}

.chapter {
  font-size: 2em;
  font-weight: 500;
  color: red;

}

.align-left {
  float: left;
  margin-right: 15px;
  margin-bottom: 5px;
}

.align-right {
  float: right;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}

blockquote {
  font-size: 1.5em;
  font-weight: 300;
  font-style:italic;
}

.photo {
  width: 100%;
}

.video {
  margin-bottom: 10px;
  width: 100%
}

.video iframe{
   margin: 0 auto;
   display: block;
   width: 800px;
}

#blackfish {
  text-align: center;
}

body {
  background-color: #cfd3d9;
}

.chapter a {
  color: red;
}

/*--media queries--*/
@media(max-width: 800px) {
  p {
    padding-left: 20px;
    padding-right: 10px;
  }
  .hero-head {
    font-size: 1.5em;
  }
