.headline {
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  font-family:'Montserrat', sans-serif;
  color: #206fd0;
}

.pic-caption {
  font-size: .75em;
}

p {
  font-size: 1em;
  font-family: "Montserrat," sans-serif;
}

.footer{
  background-color: black;
  color: white;
}

.byline {
  font-size: 1em;
}

.chapter {
  font-size: 2em;
  font-weight: 500;
  color: #206fd0;
}

.align-left {
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}

body {
  background-color: #cfd3d9;
}
