h1 {
  font-family: Garamond, serif;
  font-size: 50px;
}

h2 {
  font-family: Garamond, serif;
  font-size: 25px;
  border-bottom: 1px solid red;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

/*banner name on top*/
.banner {
  width: 100%;
}

#walking-cap {
  font-size: 10px;
}

#map-cap {
  font-size: 10px;
}

#art-cap {
  font-size: 10px;
}

.picture {
  width: 100%;
}

#byline {
  font-size: 14px;
}

blockquote {
  font-size: 20px;
  color: red;
  font-style:italic;
  font-weight: bold;
}

/*column style for body*/
#content {
  max-width: 600px;
  margin: 0 auto;
}
